In [242]:
import pandas as pd
import numpy as np
from os.path import expanduser
from sys import path
path.append(expanduser("~/mingyueguan_project"))
from Mumber_processing.chinese_to_numbers import cn_to_number
month_table_path = expanduser('~/mingyueguan_project/月份中英文对照.csv')
month_table = pd.read_csv(month_table_path)
month_table

     中文         英文  3字母 3字母.1  2字母 2字母.1 2字母.2  1字母    其他
0   NaN        NaN   縮寫    縮寫   縮寫    縮寫    縮寫   縮寫    縮寫
1    一月    January  JAN   Jan   Ja                J
2    二月   February  FEB   Feb   Fe                F
3    三月      March  MAR   Mar   Mr    Mh    Ma    M
4    四月      April  APR   Apr   Ap    Al          A
5    五月        May  MAY   May   My    Ma          M
6    六月       June  JUN   Jun   Jn    Je    Ju    J
7    七月       July  JUL   Jul   Jl    Jy    Ju    J
8    八月     August  AUG   Aug   Au    Ag          A
9    九月  September  SEP   Sep   Se                S  Sept
10   十月    October  OCT   Oct   Oc                O
11  十一月   November  NOV   Nov   No    Nv          N
12  十二月   December  DEC   Dec   De                D
13             NaN  NaN   NaN  NaN   NaN   NaN  NaN   NaN

In [243]:
month_table = month_table[pd.isna(month_table.中文)==False]
month_table = month_table[pd.isna(month_table.其他)==False]
Num_to_enMonth= {int(cn_to_number(str(line[0]).replace('月',''))):[elem for elem in line[1:] if len(elem)>=3] for line in month_table.to_numpy()}
Num_to_enMonth

{1: ['January', 'JAN', 'Jan'],
 2: ['February', 'FEB', 'Feb'],
 3: ['March', 'MAR', 'Mar'],
 4: ['April', 'APR', 'Apr'],
 5: ['May', 'MAY', 'May'],
 6: ['June', 'JUN', 'Jun'],
 7: ['July', 'JUL', 'Jul'],
 8: ['August', 'AUG', 'Aug'],
 9: ['September', 'SEP', 'Sep', 'Sept'],
 10: ['October', 'OCT', 'Oct'],
 11: ['November', 'NOV', 'Nov'],
 12: ['December', 'DEC', 'Dec']}

In [244]:
month_table.insert(loc=2, column='数字', value=["0"+str(n) if n <10 else str(n) for n in range(1,13)])
month_table.to_csv("月份中英文对照0.1.csv", index=False)

In [245]:
{tuple(en):num for num,en in Num_to_enMonth.items()}

{('January', 'JAN', 'Jan'): 1,
 ('February', 'FEB', 'Feb'): 2,
 ('March', 'MAR', 'Mar'): 3,
 ('April', 'APR', 'Apr'): 4,
 ('May', 'MAY', 'May'): 5,
 ('June', 'JUN', 'Jun'): 6,
 ('July', 'JUL', 'Jul'): 7,
 ('August', 'AUG', 'Aug'): 8,
 ('September', 'SEP', 'Sep', 'Sept'): 9,
 ('October', 'OCT', 'Oct'): 10,
 ('November', 'NOV', 'Nov'): 11,
 ('December', 'DEC', 'Dec'): 12}

In [246]:

def is_month(month):
    if month in Num_to_enMonth:
        return month
    else:
        return None
    
month_table

     中文         英文  数字  3字母 3字母.1 2字母 2字母.1 2字母.2 1字母    其他
1    一月    January  01  JAN   Jan  Ja               J
2    二月   February  02  FEB   Feb  Fe               F
3    三月      March  03  MAR   Mar  Mr    Mh    Ma   M
4    四月      April  04  APR   Apr  Ap    Al         A
5    五月        May  05  MAY   May  My    Ma         M
6    六月       June  06  JUN   Jun  Jn    Je    Ju   J
7    七月       July  07  JUL   Jul  Jl    Jy    Ju   J
8    八月     August  08  AUG   Aug  Au    Ag         A
9    九月  September  09  SEP   Sep  Se               S  Sept
10   十月    October  10  OCT   Oct  Oc               O
11  十一月   November  11  NOV   Nov  No    Nv         N
12  十二月   December  12  DEC   Dec  De               D

In [247]:
week_table_path = expanduser('~/mingyueguan_project/中英文星期对照1.csv')
week_table = pd.read_csv(week_table_path)
week_table = week_table[pd.isna(week_table.中文)==False]
week_table = week_table.replace(np.nan,'')
week_table.insert(loc=1, column='中文2', value=["周日","周一","周二","周三","周四","周五","周六"])
week_table.insert(loc=1, column='数字', value=[0,1,2,3,4,5,6])
week_table.to_csv("中英文星期对照0.1.csv", index=False)

In [248]:
def is_week(string, week_table):
    check_index = week_table == string
    vaild_week = check_index .to_numpy().sum()
    #m,n = check_index.shape
    #m_true,n_true = np.where(check_index.to_numpy()==True)
    if vaild_week:
        return week_table.数字[check_index.sum(axis=1) > 0].values[0]
     
is_week('周一', week_table)

1

In [249]:
def is_month(string, month_table):
    check_index = month_table == string
    vaild_month = check_index .to_numpy().sum()
    if vaild_month:
        return month_table.数字[check_index.sum(axis=1) > 0].values[0]
    
is_month('March', month_table)

'03'